
h1, h2 {
   font-family: 'Cinzel', serif;
   color: #3D505D;
}

p {
    font-family: 'Raleway', sans-serif;
    width: 600px;
    color: darkgray;
}

a {
    text-decoration: none;
    color: #DC8729;   
}

a:hover {
    text-decoration: underline;
}

.my-picture {
    width: 150px;
    height: auto;
    float: left;
    padding: 10px 20px 5px 0;
}

.main-sectioni {
    width: 620px;
    float: left;
    background-color: white;
    padding: 15px;
    height: 475px;
    border-style: solid;
    border-width: .3px;
    border-color: lightgray;

}

.main-sectionp {
    width: 620px;
    float: left;
    background-color: white;
    padding: 15px;
    height: 1000px; 
    border-style: solid;
    border-width: .3px;
    border-color: lightgray;

}

.main-sectionc {
    width: 620px;
    float: left;
    background-color: white;
    padding: 15px;
    height: 630px; 
    border-style: solid;
    border-width: .3px;
    border-color:lightgray;
}


.sidebar {
    width: 240px;
    float: right;
    margin: 0 0 0 60px;
    background-color: white;
    margin: 0 0 40px 0;
    padding: 15px;
    border-style: solid;
    border-width: .3px;
    border-color: lightgray;

}

.entire-content {
    width: 960px;
    clear: both; 
    padding: 20px 0 20px 0;
    overflow: auto; 
    margin: auto;
}

.name-box {
    background-color: #3D505D;
    color: white;
    padding: 23px 0 0 0;
    text-align: center;
    font-size: 22pt;
    width: 300px;
    /* letter-spacing: 1px; */
    font-family: 'Cinzel', serif;
    border-style: solid;
    border-width: .3px;
    border-color: lightgray;
    text-shadow: .5px .5px rgb(7, 0, 0);
}

.nav-box {
    float: right;
    text-align: right;
    margin: 0 0 0 0px;
    padding: 13px 0 0px 55px;
    letter-spacing: 1px;
    word-spacing: 10px; 
} 

.nav-box:p {
    color: black; 
}


.header-content {
    width: 960px;
    display: flex;
    margin: auto; 
    height: 80px;
}

.content-area {
    background-image: url(../images/diagonal_waves.png);
    clear:both;
    height: 700px;;

}

.content-areai {
    background-image: url(../images/diagonal_waves.png);
    clear:both;
    height: 700px;;

}

.content-areap {
    background-image: url(../images/diagonal_waves.png);
    clear:both;
    height: 1150px;;

}

#colorstrip {
    width: 100%;
    height: 10px;
    background-color: #CB5940;
}

footer {
    clear: both;
    float: left;
    width: 100%;
    padding: 45px 0 0 0;
    text-align: center;
    background-color: #3D505D;
    color: white;
    font-size: 8pt;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    height: 30px;

}

.content1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  /* .footer {
    height: 30px;
  } */

  .sidebar-img {
      width: 70px;
      height: 70px;
  }

  .specialpic {
      height: 62px;
      width: 62px;
      padding: 0 0 4px 2px;
  }
  
  .sidebar-img:hover, .specialpic:hover {
    border-bottom: 1px solid #3D505D;
  }


.line-class {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}




input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #3D505D;
    color: white;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 12pt;
}

input[type=submit]:hover {
    background-color: #CB5940;
}

.container {
    padding: 25px 20px 25px 20px;
    font-family: 'Cinzel', serif;
    color: darkgray;
    margin-top: 25px;
}

.pic-holder {
    width: 100%;
    clear: both;
    display: flex; 
    margin: auto;  
 
    width: 650px;

}

.centered {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 83.5%;
    background-color: #e6e6e6;
    height: 40px;
    color: #3D505D;
    text-align: center;
    padding: 18px 0 0 0;
    font-family: 'Cinzel', serif;
    font-size: 14pt;
    letter-spacing: 1px;
}

.containerL {
    position: relative;
    text-align: center;
    width: 300px;
    display: inline;
    float: left;
    margin-left: 10px;



}

.containerR {
    position: relative;
    text-align: center;
    width: 300px;
    display: inline;
    float: right;
    margin-right: 10px;
}

.port-image {
    width: 250px;
    padding: 20px 10px 20px 10px;
}

.port-image:hover {
    transform: rotate(-10deg);
    -webkit-filter: grayscale(100%);
}

.ppic {
    width: 610px;
    height: auto;
}
